<!doctype html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no" />

    <title>Homework</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Fujimaki shouten" />

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.honokak.osaka/honoka/3.3.7-a/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Material icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="/javascripts/application.js"></script>
</head>

<body>
<header>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Homework</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="/book" title="書籍" th:href="@{/book}">Books</a></li>
                    <li><a href="/author" title="著者" th:href="@{/author}">Authors</a></li>
                    <li><a href="/publisher" title="出版社" th:href="@{/publisher}">Publishers</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="page-header">
        <h2>Publisher</h2>
    </div>
    <form method="post" action="/publisher/edit" class="form-horizonal container" th:action="${#httpServletRequest.requestURI}">
        <fieldset>
            <div class="alert alert-danger" th:if="${errors != null and !errors.isEmpty()}">
                <h4><span class="material-icons">error_outline</span> Error</h4>
                <p>エラーが発生しました。</p>
                <p>入力内容をご確認のうえ、もう一度お試しください。</p>
            </div>

            <div class="form-group" th:classappend="${errors != null and errors.containsKey('name') ? 'has-error' : null}">
                <label for="name" class="col-lg-2 col-md-2">出版社名</label>
                <div class="col-lg-10 col-md-10">
                    <input id="name" name="name" type="text" value="" required="required" minlength="1" maxlength="255" class="form-control" placeholder="出版社名（255 文字以内）※必須" th:value="${publisher.name}" />
                    <p class="text-danger" th:if="${errors != null and errors.containsKey('name')}">出版社名は 1 文字以上 255 文字以内で入力してください</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-md-12 text-right">
                    <button id="button" type="submit" class="btn btn-primary">
                        <span class="material-icons">save_alt</span> 保存する
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
